name: CI

on:
  workflow_call:

env:
  VERSION: "8.0"

jobs:
  windows:
    name: "Windows ${{ matrix.toolchain }} ${{ matrix.os.arch }}"
    runs-on: ${{ matrix.os.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - runs-on: windows-latest
            arch: amd64
            msystem: mingw64

          - runs-on: windows-11-arm
            arch: arm64
            msystem: clangarm64
        toolchain: [msvc, msys]

    env:
      ARCH: ${{ matrix.os.arch }}
      TOOLCHAIN: ${{ matrix.toolchain }}

    defaults:
      run:
        shell: ${{ matrix.toolchain == 'msys' && 'msys2 {0}' || 'bash' }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        if: matrix.toolchain == 'msvc'
        with:
          arch: ${{ matrix.os.arch }}

      - name: Setup Minimal MSYS2 environment
        uses: msys2/setup-msys2@v2
        id: msys2
        if: matrix.toolchain == 'msvc'
        with:
          msystem: ${{ matrix.os.msystem }}
          update: true
          install: >-
            git make unzip pkgconf diffutils

      - name: Setup MSYS2 environment
        uses: msys2/setup-msys2@v2
        if: matrix.toolchain == 'msys'
        with:
          msystem: ${{ matrix.os.msystem }}
          update: true
          install: >-
            git make unzip pkgconf diffutils
          pacboy: >-
            toolchain:p vulkan-devel:p pkg-config:p
            nasm:p ffnvcodec-headers:p

      - name: Build (MSYS)
        if: matrix.toolchain == 'msys'
        run: ./windows/build.sh

      - name: Build (MSVC)
        if: matrix.toolchain == 'msvc'
        shell: cmd
        run: |
          :: Friendly reminder: your shitty build system is NOT better than CMake!
          :: Because of FFmpeg's horrific build system, we have to use this awful hack where we implant msvc tools
          :: into PATH and run this shit through some shell passthrough fuckery.
          ${{ steps.msys2.outputs.msys2-location }}\msys2_shell.cmd -no-start -defterm -here -msys -shell bash -c ./windows/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.toolchain }}-${{ matrix.os.arch }}
          path: artifacts/*

  android:
    name: Android
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25c

      - name: Build
        shell: bash
        env:
          ANDROID_NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}

        run: |
          chmod a+x ./android/build.sh
          ./android/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android
          path: artifacts/*

  unix:
    name: "${{ matrix.platform }} ${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    container: ghcr.io/pkgforge-dev/archlinux:latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # - platform: solaris
          #   runs-on: ubuntu-latest
          #   arch: amd64
          #   vm-arch: x86_64

          # - platform: freebsd
          #   runs-on: ubuntu-latest
          #   arch: amd64
          #   vm-arch: x86_64

          - platform: linux
            runs-on: ubuntu-latest
            arch: amd64

          - platform: linux
            runs-on: ubuntu-24.04-arm
            arch: aarch64

    env:
      PLATFORM: ${{ matrix.platform }}
      ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      # - name: Build (Solaris)
      #   if: matrix.platform == 'solaris'
      #   uses: vmactions/solaris-vm@v1.1.4    name: "Windows ${{ matrix.arch }}"

      #   with:
      #     release: "11.4-gcc"
      #     usesh: true
      #     envs: 'PLATFORM ARCH VERSION GITHUB_WORKSPACE'
      #     prepare: |
      #       pkgutil -y -i wget
      #       pkgutil -U -y tar

      #     run: |
      #       chmod a+x ./unix/build.sh
      #       ./unix/build.sh

      # - name: Build (FreeBSD)
      #   if: matrix.platform == 'freebsd'
      #   uses: vmactions/freebsd-vm@v1.2.2
      #   with:
      #     usesh: true
      #     envs: 'PLATFORM ARCH VERSION GITHUB_WORKSPACE'
      #     prepare: |
      #       pkg install -y wget bash

      #     run: |
      #       ls unix
      #       chmod a+x ./unix/build.sh
      #       bash unix/build.sh

      - name: Get Dependencies
        run: |
          chmod a+x ./unix/linux-deps.sh
          ./unix/linux-deps.sh

      - name: Build (Linux)
        if: matrix.platform == 'linux'
        run: |
          chmod a+x ./unix/build.sh
          ./unix/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}
          path: artifacts/*

  macos:
    name: "macOS"
    runs-on: macos-latest
    strategy:
      fail-fast: false

    env:
      PLATFORM: macos
      ARCH: universal

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Get Dependencies
        run: |
          chmod a+x ./unix/macos-deps.sh
          ./unix/macos-deps.sh

      - name: Build
        run: |
          chmod a+x ./unix/build.sh
          ./unix/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-universal
          path: artifacts/*
